<%= render 'adminBar' %>

<div class="editPost">
  <div class="row">
    <div class="col-xs-12">
      <%= form_for(@content, :html => { :multipart => true }) do |f| %>
        <% if @content.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@content.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% @content.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="newPost">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
              <div class="row">
                <div class="col-sm-12">
                  <div class="field form-group">
                    <span class="postTitle"><%= f.text_field :title, class: "form-control", placeholder:"Title"%></span>
                    <% if @content.is_active == false %>
                      <span class="label label-danger pull-right">Draft</span>
                    <%end%>
                    <span class="childElement">
                      <% if @content.created.present? %>
                        <%= formatDate(@content.created) %>
                      <%end%>
                      <% if @content.kind =="twitter" %>
                        at <%= @content.location %>
                      <%elsif @content.city.present? || @content.state.present?%>
                        at <%= @content.city%>, <%= @content.state%>
                      <%end%>
                    </span>
                  </div>
                </div>
                <!-- <div class="col-sm-4">
                  <%= f.text_field :ip, class: "form-control" %>
                  <%= f.datetime_select :created, class: "form-control" %>
                  <%= f.datetime_select :updated, class: "form-control" %>
                  <%= f.number_field :rating, class: "form-control" %>
                </div> -->
              </div>
              <div class="row">
                <div class="col-xs-12 form-group">
                  <div class="field">
                    <div class='wmd-panel'>
                      <div id='wmd-button-bar'></div>
                      <%= f.text_area :body, :placeholder => "Post a new thought using Markdown!", :class=>"wmd-input autoGrowText form-control", :rows=>"5", :required => true%>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4 form-group">
                  <!-- Kind
                  <%= f.text_field :kind, class: "form-control"%>
                  Internal ID
                  <%= f.number_field :id, class: "form-control" %>
                  External ID
                  <%= f.number_field :external_id, class: "form-control" %>
                  External Link
                  <%= f.text_field :external_link, class: "form-control" %>
                  Latitude
                  <%= f.number_field :latitude, class: "form-control" %>
                  Longitude
                  <%= f.number_field :longitude, class: "form-control" %> -->
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group pull-right">
                    Comments
                    <%= f.check_box :has_comments %>
                    Sticky
                    <%= f.check_box :is_sticky %>
                    Active
                    <%= f.check_box :is_active %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="btn-group pull-right" role="group" aria-label="...">
                     <%= link_to(content_path(@content), method: :delete , :class=>"btn btn-default") do%>
                       <i class="fa fa-trash-o"></i>
                     <%end%>
                     <%= link_to(@content, :class=>"btn btn-default") do%>
                       Cancel
                     <%end%>
                     <%= f.submit "Submit", :class=> "btn btn-default"%>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
            <br>
              <% if @content_attachments.present? %>
                <% @content_attachments.each do |p| %>
                  <div class="col-xs-4 col-md-4">
                    <%= link_to p.image_url, :class=> "thumbnail" do%>
                      <%= image_tag(p.image_url, :class=>"img-responsive") if p.image? %>
                    <%end%>
                    <% if user_signed_in?%>
                      <%= link_to "Edit", edit_content_attachment_path(p), :class=>"btn btn-default" %>
                    <%end%>
                  </div>
                <%end%>
              <%end%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
