<%= render 'adminBar' %>


<div class="row fullWidth">
  <div class="col-xs-12">
    <% if @content_attachments.present? %>
      <div class="imageFullWidth">
        <%= image_tag(@content_attachments.first.image, :class=>"img-responsive", :alt=>@content_attachments.first.description) %>
      </div>
    <%elsif @geojson.present? %>
      <div id="contentMapEdit" class="contentsMapSection", data-url="/contents/<%= @content.id %>.json"></div>
    <%else%>
      <div class="noContentMap"></div>
    <%end%>
  </div>
</div>

<div class="editPost">
  <div class="row">
    <div class="col-xs-12">
      <%= form_for(@content, :html => { :multipart => true }) do |f| %>
        <% if @content.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@content.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% @content.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="newPost">
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
              <div class="row">
                <div class="col-sm-12">
                  <div class="field form-group">
                    <span class="postTitle"><%= f.text_field :title, class: "form-control", placeholder:"Title"%></span>
                    <% if @content.is_active == false %>
                      <span class="label label-danger pull-right">Draft</span>
                    <%end%>
                    <span class="childElement">
                      <% if @content.created.present? %>
                        <%= formatDate(@content.created) %>
                      <%end%>
                      <% if @content.kind =="twitter" %>
                        at <%= @content.location %>
                      <%elsif @content.city.present? || @content.state.present?%>
                        at <%= @content.city%>, <%= @content.state%>
                      <%end%>
                    </span>
                  </div>
                </div>
                <!-- <div class="col-sm-4">
                  <%= f.text_field :ip, class: "form-control" %>
                  <%= f.datetime_select :created, class: "form-control" %>
                  <%= f.datetime_select :updated, class: "form-control" %>
                  <%= f.number_field :rating, class: "form-control" %>
                </div> -->
              </div>

              <div class="row">
                <div class="row">
                  <div class="col-xs-12 form-group">
                    <div class="field">
                      <div class='wmd-panel'>
                        <div id='wmd-button-bar'></div>
                        <%= f.text_area :body, :placeholder => "Post a new thought using Markdown!", :class=>"wmd-input autoGrowText form-control", :rows=>"5", :required => true%>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 form-group">
                    <h3><i class="fa fa-tags"></i> Tags</h3>
                    <%= f.text_field(:tag_list, value: @content.tag_list.join(", "), :placeholder => "Add some tags to describe your post, seperated by commas!", :class=>"form-control formText", :required => true )%>
                    <br />
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <h3><i class="fa fa-map-marker"></i> Location</h3>
                    <div class="row">
                      <div class="col-xs-12">
                        <%= @content.address%>
                      </div>
                    </div>
                    <div class="row latLongForm">
                      <div class="col-xs-6">
                      Latitude <%= f.text_field(:latitude, :placeholder => "Latitude of Pin on Map!", :class=>"form-control formText")%>
                      </div>
                      <div class="col-xs-6">
                      Longitude <%= f.text_field(:longitude, :placeholder => "Longitude of Pin on Map!", :class=>"form-control formText")%>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 form-group">
                    <h3><i class="fa fa-calendar"></i> Publish Date</h3>
                      <%= f.date_field(:publish_at, :placeholder => "Date", :class=>'datetimepicker form-control formText')%>
                  </div>
                  <div class="col-xs-12 col-sm-6 form-group">
                  </div>
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group pull-right">
                    Comments
                    <%= f.check_box :has_comments %>
                    Sticky
                    <%= f.check_box :is_sticky %>
                    Active
                    <%= f.check_box :is_active %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="btn-group pull-right" role="group" aria-label="...">
                     <%= link_to(content_path(@content), method: :delete , :class=>"btn btn-default") do%>
                       <i class="fa fa-trash-o"></i>
                     <%end%>
                     <%= link_to(@content, :class=>"btn btn-default") do%>
                       Cancel
                     <%end%>
                     <input type="button" class="btn btn-default" value="Add Geo Data" onclick="getGeoLocation()">
                    <%= f.submit "Submit", :class=> "btn btn-default"%>
                  </div>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      <% end %>

      <!-- CREATE IMAGE ATTACHMENTS :D  -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
          <%= form_for ContentAttachment.new, :url => content_attachments_path, :html => {:method => :post, :multipart => true} do |image|  %>
            <div class="row">
              <div class="col-xs-12 col-sm-6 form-group">
                <h3><i class="fa fa-picture-o"></i> Images</h3>
                <%= image.file_field :image, :class=>"form-control formText", :required => true%>
                <%= image.text_field(:description, :placeholder => "Enter Image description", :class=>"form-control formText")%>
                <div class="actions">
                  <%= image.hidden_field :content_id, value: @content.id %>
                  <%= image.submit 'Submit', :class=>"btn btn-link pull-right link formButton"%>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 form-group">
              </div>
            </div>
          <% end %>

          <% if @content_attachments.present? %>
            <div class="row">
              <% @content_attachments.each do |attachment| %>
                <div class="col-xs-4 col-md-4">
                  <%= link_to attachment.image_url, :class=> "thumbnail" do%>
                    <%= image_tag(attachment.image_url, :class=>"img-responsive", :alt=>attachment.description) if attachment.image? %>
                  <%end%>
                  <div class="deleteImage">
                    <%= link_to content_attachment_path(attachment), method: :delete do %>
                      <h2><i class="fa fa-times"></i></h2>
                    <%end%>
                  </div>
                </div>
              <%end%>
            </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>
