<%= form_for(@content, :html => { :multipart => true }) do |f| %>
	<%- unless @lat_lng %>
		<script>
		  getGeoLocation();
		</script>
	<%- end %>

	<div class="center" id="contentErrors">
	  <% if @content.errors.any? %>
	    <div id="error_explanation">
	      <h3><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved</h3>
	      <ul>
	      <% @content.errors.full_messages.each do |message| %>
	        <li><h4><%= message %></h4></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>
  </div>

  <div class="newPost">
	  <div class="row">
		  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
			  <div class="row">
			    <div class="col-sm-6">
			      <div class="field form-group">
			        <%= f.text_field :title, class: "form-control", placeholder:"Title"%>
			      </div>
			    </div>
			  </div>
			  <div class="row">
			  	<div class="col-xs-12 form-group">
			      <div class="field">
			        <div class='wmd-panel'>
						  	<div id='wmd-button-bar'></div>
				  			<%= f.text_area :body, :placeholder => "Post a new thought using Markdown!", :class=>"wmd-input autoGrowText form-control", :rows=>"5", :required => true%>
				  		</div>
			      </div>
			      <div class="field pull-left">
			        Active
			        <%= f.check_box :is_active %>
			      </div>
						<br>

						<%= f.hidden_field :kind, :value => "post" %>

						<%= f.fields_for :content_attachments do |p| %>
					    <div class="field">
					      <%= p.file_field :image, :multiple => true, name: "content_attachments[image][]" %>
					    </div>
				    <%end%>

			      <div class="btn-group pull-right" role="group" aria-label="...">
				      <%= f.submit "Submit", class: "btn btn-default"%>
			     	</div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
<% end %>
