<!-- Title -->
<% title @author.username.capitalize + ": " + @content.title.capitalize %>
<% meta_tag :description, @content.body %>
<% meta_tag :keywords, @content.tag_list.join(',') %>

<%= render 'adminBar' %>

<div class="row fullWidth">
  <div class="col-xs-12">
    <% if @geojson.present? %>
      <div id="contentMap" class="contentsMapSection", data-url="/contents/<%= @content.id %>.json"></div>
    <%else%>
      <div class="noContentMap"></div>
    <%end%>
  </div>
</div>

<div class="displayPost">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div id="blog" class="blogSection">
        <div class="blogTitle links">
          <h1 class="inline postTitle"><%= @content.title%></h1>
          <% if user_signed_in?%>
            <% if current_user.id == @content.author %>
              <h3 class="inline paddingIcon">
                <%= link_to edit_content_path(@content) do%>
                  <i class="fa fa-pencil-square-o"></i>
                <%end%>
              </h3>
              <h6 class="pull-right">
                <% if @content.is_sticky == true %>
                  <span class="label label-warning">Sticky</span>
                <%end%>
                <% if @content.is_active == false %>
                  <span class="label label-danger">Draft</span>
                <%end%>
              </h6>
            <%end%>
          <%end%>
        </div>
        <div class="lightGrey pull-right"><i class="fa fa-clock-o"></i> <%= @content.reading_time%> min</div>

        <div class="postContent">
          <p class="postContent"><%= markdown(@content.body).html_safe %></p>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <% if @content_attachments.present? %>
        <% @content_attachments.each do |p| %>
          <div class="col-xs-4 col-md-4">
            <%= link_to p.image_url, :class=> "" do%>
              <%= image_tag(p.image, :class=>"img-responsive") if p.image? %>
            <%end%>
          </div>
        <%end%>
      <%end%>
      <% if @content.image.present? %>
        <div class="col-xs-4 col-md-4">
          <%= link_to @content.external_link, :class=> "", :target => "_blank" do%>
            <%= image_tag(@content.image, :class=>"img-responsive") if @content.image? %>
          <%end%>
        </div>
      <%end%>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="blogFooter">
        <div class="row">
          <div class="col-xs-4">
            <h5 class="lightGrey">
              <%= @contentAuthor.first_name + " " + @contentAuthor.last_name %>
            </h5>
          </div>
          <div class="col-xs-8">
            <div class="row lightGrey pull-right">
              <h5>
                <% if @content.created.present? %>
                  <%= formatDate(@content.created) %>
                <%end%>
                <% if @content.kind =="twitter" %>
                  at <%= @content.location %>
                <%elsif @content.city.present? || @content.state.present?%>
                  at <%= @content.city%>, <%= @content.state%>
                <%end%>
                <% if @content.tag_list.present? %>
                  <div class="tags">
                    <i class="fa fa-tags"></i> <%= raw @content.tag_list[0,3].map{ |t| link_to t, tag_path(t) }.join(', ')%>
                  </div>
                <%end%>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ADD USER BIO HERE WITH PROFILE PICTURE -->

  <% if @content.has_comments%>
    <hr>
    <div class="row" id="show-comments-section">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <h4><%= link_to "Show Comments", '#', id: "comments-link" %> <span class="yellow"><%=@comments.count%></span></h4>
      </div>
    </div>
    <div class="row" id="comments-section">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <% if @comments.present? %><h3>Comments <span class="yellow"><%=@comments.count%></span></h3><br><%end%>
        <div class="commentWrapper" id="comments">
          <%= render @comments%>
        </div>
        <hr>
        <%= render 'comments/form' %>
      </div>
    </div>
  <%end%>
</div>
