<!-- Title -->
<% title @author.username.capitalize + ": " + @content.title.capitalize %>
<% meta_tag :description, @content.body %>
<% meta_tag :keywords, @content.tag_list.join(',') %>

<%= render 'adminBar' %>

<div class="row fullWidth">
  <div class="col-xs-12">
    <% if @content_attachments.present? && @content.has_cover_photo == 1 %>
      <div class="imageFullWidth contentsImageHeaderSection">
        <%= image_tag(@content_attachments.first.image, :class=>"img-responsive", :alt=>@content_attachments.first.description) %>
      </div>
    <%elsif @geojson.present? %>
      <div id="contentMap" class="contentsMapSection", data-url="/contents/<%= @content.id %>.json"></div>
    <%else%>
      <div class="noContentMap"></div>
    <%end%>
  </div>
</div>


<div class="displayPost">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
      <div id="blog" class="blogSection">
        <div class="blogTitle links">
          <h1 class="inline postTitle"><%= @content.title%></h1>
          <% if user_signed_in?%>
            <% if current_user.id == @content.author %>
              <h3 class="inline paddingIcon">
                <%= link_to edit_content_path(@content) do%>
                  <i class="fa fa-pencil-square-o"></i>
                <%end%>
              </h3>
            <%end%>
          <%end%>
        </div>

        <div class="pull-right">
          <% if ((@content.is_sticky == true) && (user_signed_in? && current_user.id == @user.id)) %>
            <span class="label label-warning">Sticky</span> |
          <%end%>
          <% if ((@content.is_active == false) && (user_signed_in? && current_user.id == @user.id)) %>
            <span class="label label-danger">Draft</span> |
          <%end%>
          <span class="lightGrey">
            <i class="fa fa-clock-o"></i> <%= @content.reading_time%> Min |
            <i class="fa fa-eye"></i> <%= @view_count %> Views
          </span>
        </div>

        <div class="postContent">
          <p class="postContent"><%= markdown(@content.body).html_safe %></p>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
      <% if @content_attachments.present? %>
        <% @content_attachments.each do |image| %>
          <div class="col-xs-4 col-md-4">
            <%= link_to image.image_url, :class=> "" do%>
              <%= image_tag(image.image, :class=>"img-responsive", :alt=>image.description) if image.image? %>
            <%end%>
          </div>
        <%end%>
      <%end%>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
      <div class="blogFooter">
        <div class="row">
          <div class="col-xs-4">
            <h5 class="">
              <%= @contentAuthor.first_name + " " + @contentAuthor.last_name %>
            </h5>
            <h3 class=""><%= awesome_share_buttons(@content.title + " @" + User.find_by_id(@content.author).username) %></h3>
          </div>
          <div class="col-xs-8">
            <div class="row lightGrey pull-right">
              <h5>
                <% if @content.publish_at.present? %>
                  <%= formatDate(@content.publish_at) %>
                <%end%>
                <% if @content.kind =="twitter" %>
                  at <%= @content.location %>
                <%elsif @content.city.present? || @content.state.present?%>
                  at <%= @content.city%>, <%= @content.state%>
                <%end%>
                <% if @content.tag_list.present? %>
                  <div class="tags">
                    <i class="fa fa-tags"></i> <%= raw @content.tag_list[0,3].map{ |t| link_to t, tag_path(t) }.join(', ')%>
                  </div>
                <%end%>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ADD USER BIO HERE WITH PROFILE PICTURE -->

  <% if @content.has_comments%>
    <div class="row" id="show-comments-section">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <hr>
        <h4><%= link_to "Show Comments", '#', id: "comments-link" %> <span class="yellow"><%=@comments.count%></span></h4>
      </div>
    </div>
    <div class="row" id="comments-section">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <% if @comments.present? %><h3>Comments <span class="yellow"><%=@comments.count%></span></h3><br><%end%>
        <div class="commentWrapper" id="comments">
          <%= render @comments%>
        </div>
        <hr>
        <%= render 'comments/form' %>
      </div>
    </div>
  <%end%>
</div>
