<!-- Title -->
<div class="showPostAdmin">
  <%= link_to root_url(subdomain: @author.subdomain)do%>
    <h1><span class="yellow"><%= @author.first_name%></span><%= @author.last_name%></h1>
  <%end%>
</div>

<div class="displayPost">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div id="blog" class="blogSection">
        <div class="blogTitle links">
          <h1 class="inline postTitle"><%= @content.title%></h1>
          <% if user_signed_in?%>
            <% if current_user.id == @content.author %>
              <h6 class="inline">
                <%= link_to 'Edit', edit_content_path(@content) %> |
                <%= link_to(content_path(@content), method: :delete) do%>
                  Delete
                <%end%>
              </h6>
              <% if @content.is_active == false %>
                <span class="label label-danger pull-right">Draft</span>
              <%end%>
            <%end%>
          <%end%>
        </div>
        <div class="blogTags">

        </div>
        <div class="postContent">
          <p class="postContent"><%= markdown(@content.body).html_safe %></p>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <% if @content_attachments.present? %>
        <% @content_attachments.each do |p| %>
          <div class="col-xs-4 col-md-4">
            <%= link_to p.image_url, :class=> "" do%>
              <%= image_tag(p.image, :class=>"img-responsive") if p.image? %>
            <%end%>
          </div>
        <%end%>
      <%end%>
      <% if @content.image.present? %>
        <div class="col-xs-4 col-md-4">
          <%= link_to @content.external_link, :class=> "", :target => "_blank" do%>
            <%= image_tag(@content.image, :class=>"img-responsive") if @content.image? %>
          <%end%>
        </div>
      <%end%>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="blogFooter">
        <div class="row">
          <div class="col-xs-4">
            <h5 class="lightGrey">
              <%= @contentAuthor.first_name + " " + @contentAuthor.last_name %>
            </h5>
          </div>
          <div class="col-xs-8">
            <h5 class="lightGrey pull-right">
              <% if @content.created.present? %>
                <%= formatDate(@content.created) %>
              <%end%>
              <% if @content.kind =="twitter" %>
                at <%= @content.location %>
              <%elsif @content.city.present? || @content.state.present?%>
                at <%= @content.city%>, <%= @content.state%>
              <%end%>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <hr>
      <h3>Comments</h3>
      <% @comments.each do |comment| %>
        <div>
          <strong><%= comment.email %></strong>
          <br />
          <p><%= comment.body %></p>
          <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      <% end %>
      <%= render 'comments/form' %>
    </div>
  </div> -->
</div>
