<%= form_for(@comment) do |f| %> <!--, remote: true-->
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3 class="lightGrey">New Comment</h3><br>

  <div class="row">
    <div class="col-xs-12 form-horizontal">
      <div class="form-group commentEmail">
        <%= f.label :email , class: "col-xs-2 col-xs-offset-1 control-label lightGrey" %>
        <div class="col-xs-9">
          <%= f.text_field :email, class: "form-control commentEmail", placeholder:"Email Address", :required => true%>
        </div>
      </div>
      <div class="form-group commentBody">
        <%= f.label :body , class: "col-xs-2 col-xs-offset-1 control-label lightGrey" %>
        <div class="col-xs-9">
          <%= f.text_area :body, :placeholder => "What do you think?", :class=>"wmd-input autoGrowText form-control", :rows=>"2", :required => true%>
        </div>
      </div>
      <%= f.hidden_field :parent_comment %>
      <%= f.hidden_field :content_id %>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-12">
      <div class="actions pull-right">
        <%= f.submit "Submit", class: "btn btn-default" %>
      </div>
    </div>
  </div>
<% end %>
