<% if @contents.count > 0 %>
	<% @contents.each do |content| %>
		<% if content.is_active == true || (user_signed_in? && current_user.id == @user.id)%>
			<hr>
			<div class="blogSection" id="blog">
				<div class="row links" id="<%= content.id %>">
					<div class="blogPost">
						<div class="blogImage">
							<% if content.image.present? %>
								<div class="col-xs-12 col-sm-3 center">
									<%= link_to content.image do%>
										<br>
										<%= image_tag content.image, :width=>"200px", :height=>"200px;", :class=>"img-responsive center thumbnail", :target => "_blank" %>
									<%end%>
								</div>
							<%end%>
						</div>
						<div class="col-xs-12 <% if content.image.present? %>col-sm-9<%end%>">
							<div class="blogTitle">
								<%= link_to content_path(content) do%>
									<% if content.title.present? %>
										<h1>
											<%= content.title %>
										</h1>
									<%elsif content.kind.present? %>
										<h1><%= content.kind.capitalize%>:</h1>
									<%else%>
										<h1>Content:</h1>
									<%end%>
								<%end%>
							</div>
							<div class="blogBody">
								<% if content.body.present? %>
									<!-- DEFINED IN USER HELPER -->
									<p>
										<%= sanitize_markdown(content)%>
									</p>
								<%end%>
							</div>
							<div class="blogFooter">
								<div class="row">
				          <div class="col-xs-6">
				          	<div class="metaData">

											<% if (user_signed_in? && current_user.id == @user.id)%>
					          		<% if (content.is_sticky == true)%>
							            <span class="label label-warning">Sticky</span> |
							          <%end%>
							          <% if (content.is_active == false)%>
							            <span class="label label-danger">Draft</span> |
							          <%end%>
						          <%end%>

				          		<span class="lightGrey">
					          		<i class="fa fa-clock-o"></i> <%= content.reading_time%> Min |
					          		<i class="fa fa-eye"></i> <%= content.impressionist_count(:filter=>:ip_address) %> Views |
						            <% if content.tag_list.present? %>
							            <span class="tags">
							              <i class="fa fa-tags"></i> <%= raw content.tag_list[0,5].map{ |t| link_to t, tag_path(t) }.join(', ')%>
							            </span>
							          <%end%>
						          </span>
						        </div>
				          </div>
				          <div class="col-xs-6">
				            <h5 class="lightGrey blogLocation">
				              <% if content.created.present? %>
				                <%= formatDate(content.created) %>
				              <%end%>
				              <% if content.kind =="twitter" %>
				                at <%= content.location %>
				              <%elsif content.city.present? || content.state.present?%>
				                at <%= content.city%>, <%= content.state%>
				              <%end%>
				            </h5>
				          </div>
				        </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<%end%>
	<%end%>
<%end%>
