<% if @contents.count > 0 %>
	<% @contents.each do |content| %>
		<% if content.is_active == true || (user_signed_in? && current_user.id == @user.id)%>
			<hr>
			<div class="blogSection" id="blog">
				<div class="row links" id="<%= content.id %>">
					<div class="blogPost">
						<div class="blogImage">
							<% if content.image.present? %>
								<div class="col-xs-12 col-sm-3 center">
									<%= link_to content.image do%>
										<br>
										<%= image_tag content.image, :width=>"200px", :height=>"200px;", :class=>"img-responsive center thumbnail", :target => "_blank" %>
									<%end%>
								</div>
							<%end%>
						</div>
						<div class="col-xs-12 <% if content.image.present? %>col-sm-9<%end%>">
							<div class="blogTitle">
								<%= link_to content_path(content) do%>
									<% if content.title.present? %>
										<h1>
											<%= content.title %>
										</h1>
									<%elsif content.kind.present? %>
										<h1><%= content.kind.capitalize%>:</h1>
									<%else%>
										<h1>Content:</h1>
									<%end%>
								<%end%>
							</div>
							<% if content.is_active == false %>
								<span class="label label-danger pull-right">Draft</span>
							<%end%>
							<div class="blogTags">

							</div>
							<div class="blogBody">
								<% if content.body.present? %>
									<p><%= markdown(content.body.truncate(800, separator: '', omission: '...')).html_safe  %></p>
								<%end%>
							</div>
							<div class="blogFooter">
								<div class="row">
				          <div class="col-xs-4">
				            <!-- <h5 class="lightGrey">
				              <%= @user.first_name + " " + @user.last_name %>
				            </h5> -->
				          </div>
				          <div class="col-xs-8">
				            <h5 class="lightGrey pull-right">
				              <% if content.created.present? %>
				                <%= formatDate(content.created) %>
				              <%end%>
				              <% if content.kind =="twitter" %>
				                at <%= content.location %>
				              <%elsif content.city.present? || content.state.present?%>
				                at <%= content.city%>, <%= content.state%>
				              <%end%>
				            </h5>
				          </div>
				        </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<%end%>
	<%end%>
<%end%>
