<div class="row" id="newProject">
	<div class="col-xs-offset-1 col-xs-11 col-sm-3">
		<h1 class="links adminAdd">
			New Project
		</h1>
		<p>
			Create a new project!
		</p>		
		<hr>		
	</div>

	<!-- MOVE THIS INTO A PARTIAL? -->
	<div class="col-xs-offset-1 col-xs-10 col-sm-6">
		<%= form_for Project.new, :url => projects_path,  :html => {:multipart => true} do |f|  %>
			<div class="form-horiontal">
				<div class="form-group">
					<div class="col-xs-3">
				  	<%= f.label :title%>
				  </div>
				  <div class="col-xs-9">
				  	<%= f.text_field :title, :placeholder => "Name of project", :class=>"form-control", :required => true%>
				  	<span class="bar"></span>
				  	<br />
				  </div>
				</div>

				<div class="form-group">
					<div class="col-xs-3">
				  	<%= f.label :body %>
				  </div>
				  <div class="col-xs-9">
				  	<%= f.text_area :body, :placeholder => "Tell us a little about your project!", :class=>"form-control autoGrowText", :required => true%>
				  	<span class="bar"></span>
				  	<br />
				  </div>
				</div>

				<div class="form-group">
					<div class="col-xs-3">
						<%= f.label :tech %>
					</div>
					<div class="col-xs-9">
				  	<%= f.text_field :technologies, :placeholder => "What tech did you use? Rails, Angular, Meteor, iOS, etc.", :class=>"form-control" %>
				  	<span class="bar"></span><br />

				  </div>
				</div>

				<div class="form-group">
					<div class="col-xs-3">
				  	<%= f.label :Github %>
				  </div>
				  <div class="col-xs-9">
				  	<%= f.text_field :github_link, :placeholder => "Link to Github repo", :class=>"form-control"%>
				  	<span class="bar"></span>
				  	<br />
				  </div>
				</div>

				<div class="form-group">
					<div class="col-xs-3">
				  	<%= f.label :Project %>
				  </div>
				  <div class="col-xs-9">
				  	<%= f.text_field :project_link, :placeholder => "Link to project", :class=>"form-control"%>
				  	<span class="bar"></span>
				  	<br />
				  </div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-9">
						<%= f.file_field :image %>
					</div>
				</div>
				<%= f.submit 'Submit', :placeholder => "Name of project", :class=>"btn btn-default pull-right"%>
			</div>
		<% end %>
	</div>
</div>