<!-- DISPLAYS ALL PROJECTS -->
<% if @projects.count > 0 %>
	<% @projects.each_with_index do |project, index| %>
		<%= content_tag_for :li, project do %>

			<% if index % 2 == 0 %>
				<!-- IF EVEN -->
				<div class="row">
					<hr>
					<% if user_signed_in? %>
						<% if current_user.id == @user.id %>
							<span class="removeProject redLinks">
								<%= link_to project_path(project.id), method: :delete do %>
									<h2><i class="fa fa-times"></i></h2>
								<%end%>
							</span>
							<span class="handle mobileHide">
								<h2><i class="fa fa-bars"></i></h2>
							</span>
						<%end%>
					<%end%>
					<% if project.image.present? %>
						<div class="col-xs-offset-1 col-xs-11 col-sm-3 mobileHide">
							<%= link_to project.project_link, :target => "_blank" do %>
								<%= image_tag project.image, :class=>"projectLogo img-responsive"%>
							<%end%>
						</div>
					<%end%>
					<div class="col-xs-offset-1 col-xs-10 col-sm-6 project">
						<h1 class="links inline">
							<%= link_to project.github_link, :target => "_blank" do %>
								<%= project.title%>
							<%end%>
						</h1>
						<p>
							<%= project.body %>
						</p>
					</div>
				</div>
			<%else%>
			<!-- IF NOT EVEN -->
				<div class="row">
					<hr>
					<% if user_signed_in? %>
						<% if current_user.id == @user.id %>
							<span class="removeProject redLinks">
								<%= link_to project_path(project.id), method: :delete do %>
									<h2><i class="fa fa-times"></i></h2>
								<%end%>
							</span>
							<span class="handle mobileHide">
								<h2><i class="fa fa-bars"></i></h2>
							</span>
						<%end%>
					<%end%>

					<div class="col-xs-offset-1 col-xs-10 col-sm-6 project">
						<h1 class="links">
							<%= link_to project.github_link, :target => "_blank" do %>
								<%= project.title%>
							<%end%>
						</h1>
						<p>
							<%= project.body %>
						</p>

						<!-- <%= link_to "http://www.spritebuilder.com", :target => "_blank" do %>
							<%= image_tag "sprite.svg", :height=>"50px;", :width=>"50px;"%>
						<%end%>	 -->
					</div>

					<% if project.image.present? %>
						<div class="col-xs-offset-1 col-xs-11 col-sm-3 mobileHide projectImage">
							<%= link_to project.project_link, :target => "_blank" do %>
								<%= image_tag project.image, :class=>"projectLogo img-responsive"%>
							<%end%>
						</div>
					<%end%>
				</div>
			<%end%>
		<%end%>
	<%end%>
<%end%>
