<!-- DISPLAYS ALL PROJECTS -->
<% if @services.count > 0 %>
  <div class="row center" id="service">
    <% @services.each do |service| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="right">
          <% if user_signed_in? %>
            <% if current_user.id == @user.id %>
              <span class="destroyService">
                <%= link_to service_path(service.id), method: :delete do %>
                  <i class="fa fa-times" aria-hidden="true"></i>
                <%end%>
              </span>
            <%end%>
          <%end%>
        </div>
        <div class="links">
          <%= link_to service.link, :class=>"" do%>
            <%= image_tag service.image, :class=>"serviceImage", :width=>"150", :height=>"150"%>
            <h3><%= service.title%></h3>
          <%end%>
          <h5><%= service.description %></h5><br>
        </div>
      </div>
    <%end%>
  </div>
<%end%>
