<!-- DISPLAYS ALL PROJECTS -->
<hr>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <% if @testimonials.count > 0 %>
      <% @testimonials.each do |testimonial| %>
        <div class="testimonialBody">
          <span class="testimonialQuote"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
          <%= testimonial.summary %>
          <span class="testimonialQuote"><i class="fa fa-quote-right" aria-hidden="true"></i></span>
          <% if user_signed_in? %>
            <% if current_user.id == @user.id %>
              <span class="destroyTestimonial">
                <%= link_to testimonial_path(testimonial.id), method: :delete do %>
                  <i class="fa fa-times" aria-hidden="true"></i>
                <%end%>
              </span>
            <%end%>
          <%end%>
        </div>
        <div class="testimonialAuthor">
          <%= link_to testimonial.link, :target=>"_blank" do%>
            -<%= testimonial.author %>: <%= testimonial.author_title %> at <%= testimonial.author_company %>
          <%end%>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
