<!-- DISPLAYS ALL PROJECTS -->
<% if @testimonials.count > 0 %>
  <div class="row" id="testimonial">
    <div class="col-xs-10 col-xs-offset-1">
      <div id="rotating-item-wrapper">
        <% @testimonials.each do |testimonial| %>
          <span class="rotating-item testimonialItem">
            <div class="testimonialBody">
              <span class="testimonialQuote"><i class="fa fa-quote-left" aria-hidden="true"></i></span>
              <%= testimonial.summary %>
              <span class="testimonialQuote"><i class="fa fa-quote-right" aria-hidden="true"></i></span>
              <% if user_signed_in? %>
                <% if current_user.id == @user.id %>
                  <span class="destroyTestimonial">
                    <%= link_to testimonial_path(testimonial.id), method: :delete do %>
                      <i class="fa fa-times" aria-hidden="true"></i>
                    <%end%>
                  </span>
                <%end%>
              <%end%>
            </div>
            <div class="testimonialAuthor">
              <%= link_to testimonial.link, :target=>"_blank" do%>
                -<%= testimonial.author %>: <%= testimonial.author_title %> at <%= testimonial.author_company %>
              <%end%>
            </div>
          </span>
        <%end%>
      </div>
    </div>
  </div>
<%end%>
