<div id="userSettings">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
      <div class="row">
        <div class="col-xs-2">
          <%= image_tag @user.avatar, :class=>"profileImg img-circle"%>
        </div>
        <div class="col-xs-8 col-xs-offset-1">
          <h1 class=""><%=@user.first_name%><span class="yellow"><%= @user.last_name%></span></h1>
          <!-- <div class="twitterInfo" class="links">
            <%= link_to @twitterLink, :target=>"_blank" do%>
              <h5>@<%= @user.username %></h5>
              <h6>
                <%= @user.number_statuses%> <i class="fa fa-comment"></i>
                <%= @user.number_followers%> <i class="fa fa-users"></i>
                <%= @user.rating%> <i class="fa fa-heart"></i>
              </h6>
            <%end%>
          </div> -->
        </div>
      </div>

      <!-- DISPLAY THE BIO -->
      <div class="row">
        <div class="col-xs-12">
          <h3 class="center">
            <%if @user.bio.present? %>
              <%= @user.bio%>
            <%else%>
              Hello I am @<%= @user.username.capitalize %>
            <%end%>
          </h3>
        </div>
      </div>

      <!-- DISPLAY FEATURES -->



      <!-- SIGN ON WITH OTHER PROVIDERS, CHECK IF EMAIL IS ACTIVE -->
      <% unless @user.email.present? %>
        <div class="row">
          <div class="col-xs-12">
            <%= link_to user_omniauth_authorize_path(:foursquare) do%>
              <i class="fa fa-foursquare"></i> Sign In
            <%end%>
          </div>
        </div>
      <%else%>
        <h5>Please confirm your email to activate further channels</h5>
      <%end%>

    </div>
  </div>
</div>


