<!-- Title -->
<% title @user.username.capitalize + ": " + @user.bio.truncate(50)%>
<% meta_tag :description, @user.bio %>
<% meta_tag :keywords, @user.username %>


<div class="row fullHeight" id="top">
	<!-- ABOUT ME -->
	<div class="aboutMeCol col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-lg-8 col-lg-offset-2">
		<div id="about" class="verticalCenter">
			<hr>
				<!-- USER BIO -->
				<h3>
					<%if @user.bio.present? %>
						<%= @user.bio%>
					<%else%>
						Hello I am @<%= @user.username.capitalize %>
					<%end%>
				</h3>
			<hr>
		</div>
	</div>
</div>

<div class="projectRows">
	<!-- <div class="row">
		<div class="col-xs-10 col-xs-offset-1 sectionTitle">
			<div class="sectionTitleText">PROJECTS</div>
		</div>
	</div> -->

	<ul id="projects" data-update-url="<%= sort_projects_url %>">
		<%= render 'projects' %>
	</ul>
</div>

<% if user_signed_in? %>
	<% if current_user.id == @user.id %>
		<hr>
		<div class="row">
			<div class="col-xs-12 center links">
				<h1 class="jumboName" id="newProjectButton">New Project</h1>
			</div>
		</div>
	<%end%>
<%end%>

<% if user_signed_in? %>
	<% if current_user.id == @user.id %>
		<%= render 'newProject' %>
		<hr>
	<%end%>
<%end%>

<div class="testimonialRows">
	<ul id="testimonials">
		<%= render 'testimonials' %>
	</ul>
</div>

<% if user_signed_in? %>
	<% if current_user.id == @user.id %>
		<hr>
		<div class="row">
			<div class="col-xs-12 center links">
				<h1 class="jumboName" id="newTestimonialButton">New Testimonial</h1>
			</div>
		</div>
	<%end%>
<%end%>


<% if user_signed_in? %>
	<% if current_user.id == @user.id %>
		<%= render 'newTestimonial' %>
		<hr>
	<%end%>
<%end%>


<br>
<div class="row fullWidth">
	<div class="col-xs-12">
		<div id="map" class="mapSection", data-url="/users/<%= @user.id %>.json"></div>
	</div>
</div>

<% if user_signed_in? %>
	<% if current_user.id == @user.id %>
		<hr>
		<div class="row">
			<div class="col-xs-12 center">
				<h1 class="jumboName" id="newPostButton">New Post</h1>
			</div>
		</div>
	<%end%>
<%end%>

<% if user_signed_in? %>
	<% if current_user.id == @user.id %>
		<%= render 'newPost' %>
	<%end%>
<%end%>

<div class="row">
	<!-- Content -->
	<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2" id="content">
		<div id="content_details">
			<%= render 'content' %>
		</div>
		<div id="paginator" class="pagFooter">
			<h4><%= paginate @contents%></h4>
		</div>
	</div>
</div>
