<div class="usernameCloud links">
	<ul>
		<% @all_users.each do |user| %>
			<%= link_to root_url(subdomain: user.subdomain) do%>
				<li class="usersNames">
					<h4><%= user.username.capitalize%></h4>
				</li>
			<%end%>
		<%end%>
	</ul>
</div>

<div class="row">
	<div class="col-xs-offset-1 col-xs-10 verticalCenter center">
		<% if user_signed_in? %>
			<div class="links">
				<%= link_to root_url(subdomain: current_user.subdomain) do%>
					<h1 class="jumboName" id="userName"><strong><%= current_user.username.capitalize%></strong></h1>
				<%end%>
			</div>
		<%else%>
			<!-- <div class="twitterSignIn verticalCenter links">
				<%= link_to user_omniauth_authorize_path(:twitter) do%>
					<h1 class="jumboName" id="twitterSignInButton"><i class="fa fa-twitter"></i> Sign In</h1>
				<%end%>
			</div> -->
			<div class="foursquareSignIn verticalCenter links">
				<%= link_to user_omniauth_authorize_path(:foursquare) do%>
					<h1 class="jumboName" id="foursquareSignInButton"><i class="fa fa-foursquare"></i> Sign In</h1>
				<%end%>
			</div>

		<%end%>
	</div>
</div>
