<div class="page js-page login-page">
  <div class="login">
    <div class="login-content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="login-wrapper">
              <div class="helper center">
                <!-- Logo Image -->
                <a href="index.html" class="logo-image animated">
                  <h1>Wesley<span class="yellow">Vance</span></h1>
                </a>
                <!-- End of Logo Image -->
              </div>
              <%= form_for(resource, as: resource_name, class:"login-form" ,url: session_path(resource_name))do |f| %>
                <%= f.text_field :username, autofocus: true, class:"form-control", placeholder:"Email" %>
                <%= f.password_field :password, autocomplete: false, class:"form-control", placeholder:"Password" %>
                <%= f.submit "Sign in", class: "button green full"%>
              <%end%>
              <ul class="login-helpers">
                <li class="login-helper-item">Don't have an account?
                  <%= link_to "Sign Up.", new_user_registration_path() %>
                </li>
                <li class="login-helper-item">
                  <a href="#">Forgot your password</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
