<!DOCTYPE html>
<html>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv=”content-language” content=”en-us”>

  <title>PostsDeck <%= yield(:title) %></title>
  <meta name='description'
    content='<%= yield_meta_tag(:description, 'PostsDeck: Blogging Post') %>' />
	<meta name='keywords'
    content='<%= yield_meta_tag(:keywords, 'PostsDeck, Blog') %>' />

  <!-- GOOGLE ANALYTICS -->
	<% if Rails.env == "production" %>
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  console.log("Google Sent");
		  ga('create', 'UA-46307016-6', 'none');
		  ga('send', 'pageview');
		</script>
	<%end%>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller_name %> <%= action_name %>">

	<!-- =========================================================================================================== -->
	<!-- 																	THANKS FOR CHECKING OUT MY CODE!  																				 -->
	<!-- FEEL FREE TO TAKE AND SHARE ANY PART JUST LINK BACK TO THIS SITE IN CODE COMMENTS SO OTHERS CAN SEE IT TOO! -->
	<!-- 												IF YOU HAVE QUESITONS EMAIL ME AT WESLEY.VANCE@MAC.COM :)  													 -->
	<!-- =========================================================================================================== -->

	<div id="container">

		<div class="flashNotices" id="flash">
			<% flash.each do |key, value| %>
		    <%= content_tag(:div, class: "alert alert-#{key}") do%>
	        <button type="button" class="close flashClose" data-dismiss="alert">&times;</button>
	        <%= value %>
		    <% end %>
			<% end %>
		</div>

		<div class="adminBar">
			<div class="adminBarLinks links">
		  	<span class="adminBarLinkIcons">
					<% if user_signed_in? %>
			  		<%= link_to root_url(:subdomain => current_user.subdomain), :class=>"navBarLinks" do%>
							<i class="fa fa-home"></i>
						<%end%>
					  <%= link_to new_content_path, :class=>"navBarLinks", data: { toggle: 'tooltip', placement:'bottom', original_title: 'New Post'} do%>
					    <i class="fa fa-plus-square-o"></i>
					  <%end%>
						<%= link_to contents_path(), data: { toggle: 'tooltip', placement:'bottom', original_title: 'Editorial Calendar'} do %>
							<i class="fa fa-calendar"></i>
						<%end%>
						<%= link_to settings_path(), data: { toggle: 'tooltip', placement:'bottom', original_title: 'Settings'} do %>
							<i class="fa fa-cog"></i>
						<%end%>
				  <%else%>
			  		<%= link_to user_omniauth_authorize_path(:twitter), :class=>"navBarLinks" do%>
							<i class="fa fa-sign-in"></i>
						<%end%>
			  	<%end%>
		  	</span>
		  </div>
	  </div>


		<div class="bodyWrapper">
			<% unless current_page?(root_url) && !request.subdomain.present? %>
				<div class="fixedSideBar">
					<div class="sideBarSection center">
						<div class="profile">
							<div class="profileName avatar">
								<%= image_tag @user.avatar, :class=>"profileImg img-circle"%>
								<%=link_to root_path() do%>
									<h1><span class="thinFont"><span class="white"><%=@user.first_name%></span><span class="yellow"><%= @user.last_name%></span></span></h1>
								<%end%>
							</div>

							<h6 class="profileBio">
								<%if @user.bio.present? %>
									<span class="offWhite"><%= @user.bio%></span>
								<%else%>
									Hello I am @<%= @user.username.capitalize %>
								<%end%>
							</h6>

						</div>
						<hr class="navBreak">
						<div class="navBarLinks">
							<ul class="links">
								<li>
									<h3><%=link_to('Services', root_path(:anchor => 'services'))%></h3>
								</li>
								<li>
									<h3><%=link_to('Projects', root_path(:anchor => 'projects'))%></h3>
								</li>
								<li>
									<h3><%=link_to('Testimonials', root_path(:anchor => 'testimonial'))%></h3>
								</li>
								<li>
									<h3><%=link_to('Blog', root_path(:anchor => 'map'))%></h3>
								</li>
							</ul>
						</div>

						<div class="profileFooter links">
							<% if @user.username.present? %>
								<%= link_to "http://www.twitter.com/" + @user.username, :target => "_blank" do %>
									<i class="fa fa-twitter"></i>
								<%end%>
							<%end%>

							<% if @user.linkedin.present? %>
								<%= link_to "http://www.linkedin.com/in/" + @user.linkedin , :target=>"_blank" do %>
									<i class="fa fa-linkedin"></i>
								<%end%>
							<%end%>

							<% if @user.github.present? %>
								<%= link_to "http://github.com/" + @user.github, :target=>"_blank" do %>
									<i class="fa fa-github"></i>
								<%end%>
							<%end%>

							<% if @user.facebook.present? %>
								<%= link_to "http://facebook.com/" + @user.facebook, :target=>"_blank" do %>
									<i class="fa fa-facebook"></i>
								<%end%>
							<%end%>

							<% if @user.calendly.present? %>
								<%= link_to schedule_path() do %>
									<i class="fa fa-calendar"></i>
								<%end%>
							<%end%>

							<% if @user.email.present? %>
								<%= mail_to @user.email , subject: "Introduction", body:"Hi Wesley, \n" do %>
									<i class="fa fa-envelope"></i>
								<% end %>
							<%end%>
						</div>
					</div>

				</div>
				<div class="mainContent">
					<%= yield %>
				</div>
			<%else%>
				<div id="welcomeContainer">
					<%= yield %>
				</div>
			<%end%>
			<br>

			<% unless current_page?(root_url) && !request.subdomain.present? %>
				<div class="footer">
					<div class="row" id="connect">
						<div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-0 signature">
							<span class="center">
								<h4>
									Made with love in
									<a href="http://rubyonrails.org" target="_blank">
										<span class="ruby">RoR</span>
									</a> by
									<%= link_to root_url(:subdomain => :wesadvance) do%>
										<span class="yellow">Wesley Vance</span>
									<%end%>
								</h4>
							</span>
						</div>
						<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-0 emailList">
							<%= render 'emailapi/email' %>
						</div>
					</div>
				</div>
			<%end%>

			<div class="topBottonBox">
				<a href="#top">
					<i class="fa fa-chevron-up pull-right topButton"></i>
				</a>
			</div>

		</div>
	</div>
</body>

</html>
