<!DOCTYPE html>
<html>
<head>
  <title>WesleyVance</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div class="row" id ="user_nav">
			<div class="col-xs-12">
				<% if user_signed_in? %>
					<div class="pull-right">
						<%= link_to current_user, :class=>"navUser" do%>
							<%= current_user.username.capitalize%>
						<%end%>
						<%= link_to "Edit Profile", edit_user_registration_path %> | 
						<%= link_to "Logout", destroy_user_session_path, method: :delete %>
						<%= image_tag current_user.twitter_avatar, size: "32x32", class: "pull-right"%>
					</div>
				<%else%>
					<%= link_to "Sign in Twitter", user_omniauth_authorize_path(:twitter)%>
				<%end%>
			</div>
		</div>

		<!-- <p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p> -->
		<%= yield %>
	</div>
</body>
</html>
