<!DOCTYPE html>
<html>
	<script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv=”content-language” content=”en-us”>

  <title><%= yield(:title) %></title>
  <!-- BING VALIDATE -->
  <meta name="msvalidate.01" content="EC77DC7A959710EE16DD5634AE8259D6" />
  <meta name='description'
    content='<%= yield_meta_tag(:description, 'PostsDeck: Blogging Post') %>' />
	<meta name='keywords'
    content='<%= yield_meta_tag(:keywords, 'PostsDeck,Blog') %>' />

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= controller_name %> <%= action_name %>">

	<!-- =========================================================================================================== -->
	<!-- 																	THANKS FOR CHECKING OUT MY CODE!  																				 -->
	<!-- FEEL FREE TO TAKE AND SHARE ANY PART JUST LINK BACK TO THIS SITE IN CODE COMMENTS SO OTHERS CAN SEE IT TOO! -->
	<!-- 												IF YOU HAVE QUESITONS EMAIL ME AT WESLEY.VANCE@MAC.COM :)  													 -->
	<!-- =========================================================================================================== -->

	<div id="container">

		<div class="flashNotices">
			<% flash.each do |key, value| %>
			  <div class="alert alert-<%= key %> center"><%= value %></div>
			<% end %>
		</div>

		<div class="adminBar">
			<div class="adminBarLinks links">
				<% if user_signed_in? %>
			  	<h4>
			  		<%= link_to root_url(:subdomain => false), :class=>"navBarLinks" do%>
							Home
						<%end%>
						<!-- <%= link_to(contents_path(@content, content: {:kind => "twitter"}), :method => :post) do%>
							Tweet
						<%end%> -->
						<!-- <%= link_to settings_path(:subdomain => current_user.subdomain) do %>
							Settings
						<%end%> -->
			  		<%= link_to(destroy_user_session_path, :method => :delete, :class=>"navBarLinks") do%>
			  			Sign Out
			  		<%end%>
			  	</h4>
			  <%else%>
			  	<h4>
				  	<% unless current_page?(root_url(:subdomain => false))%>
					  	<%= link_to root_url(:subdomain => false), :class=>"navBarLinks" do%>
								Sign In
							<%end%>
						<%end%>
					</h4>
		  	<%end%>
		  </div>
	  </div>

		<div class="bodyWrapper">
			<%= yield %>

			<% unless current_page?(root_url)%>
				<hr>
				<div class="footer">
					<div class="row" id="connect">
						<div class="col-xs-12">
							<!-- LEFT OUT TWITTER LINK FOR NOW -->
							<h6 class="center">
								Made with love in
								<a href="http://rubyonrails.org" target="_blank">
									<span class="ruby">RoR</span>
								</a> by
								<%= link_to root_url(:subdomain => :wesadvance) do%>
									<span class="yellow">Wesley Vance</span>
								<%end%>
							</h6>
						</div>
					</div>
				</div>
			<%end%>

		</div>
	</div>
	<div id="version" class="links">
		<h6><a href="https://trello.com/b/Xeqqh9j1/blog" target="_blank">Trello: Version .4</a></h6>
	</div>
</body>
</html>
